.container {
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    --bs-gutter-x: 30px;
}

.home-shop-item {
	background: var(--white);
	box-shadow: 0px 15px 26px rgba(173, 185, 202, 0.17);
	margin: 50px 0 50px;
	padding: 0 40px 40px;
}

.home-shop-thumb {
	text-align: center;
	position: relative;
	max-width: 205px;
	margin: 0 auto 45px;
	z-index: 1;
}

.home-shop-thumb > a {
    text-align: center;
    width: 100%;
    min-height: 190px;
    align-items: flex-start;
    margin: 50px auto 0;
    position: relative;
    display: inline-flex;
    justify-content: center;
}

.home-shop-thumb img {
	display: inline-block;
	height: 190px;
	object-fit: contain;
	max-width: 126px;
	object-position: top;
}

.home-shop-thumb .discount {
	position: absolute;
	top: 0;
	right: -40px;
	z-index: 1;
	background: #FD4B4B;
	border-radius: 3px;
	color: var(--silver);
	font-weight: 500;
	font-size: 12px;
	padding: 4px 11px;
	line-height: 1;
}

.shop-thumb-shape {
	position: absolute;
	width: 100%;
	height: 103px;
	left: 0;
	bottom: -11px;
	background: #A3D86D;
	border-radius: 50% / 100%;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	z-index: -1;
}

.shop-thumb-shape.yellow {
	background: #F0DE5A;
}

.shop-thumb-shape.purple {
	background: #996BAC;
}

.shop-thumb-shape.gray {
	background: #DEDEDD;
}

.shop-thumb-shape.blue {
	background: #25A1D0;
}

.home-shop-item:hover {
    background-color: var(--white-dark);
    scale: 1.05;
}

.home-shop-content .prd-related-title {
	font-size: 20px;
	margin-bottom: 20px;
    text-align: center;
}

.home-shop-content .prd-related-title a {
    color: var(--green);
}

/* .home-shop-content .prd-related-title a:hover {
    color: var(--green);
} */

.home-shop-price {
	font-size: 20px;
	display: block;
	letter-spacing: 0.02em;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	color: #222;
	line-height: 1;
	margin: 0 0 30px;
}

.home-shop-rating {
	display: flex;
	align-items: center;
	color: var(--green);
	letter-spacing: 3px;
	line-height: 1;
}

.home-shop-rating .total-rating {
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0;
	color: var(--gold);
	margin-left: 10px;
}

.shop-content-bottom {
	display: flex;
	align-items: center;
	margin-top: 35px;
}

.shop-content-bottom .cart {
	width: 50px;
	height: 50px;
	display: flex;
	flex: 0 0 50px;
	align-items: center;
	justify-content: center;
	background: var(--blue-light);
	color: var(--silver);
	border-radius: 50%;
	font-size: 20px;
}

.shop-content-bottom .btn-one {
	padding: 15px 38px;
	font-size: 14px;
	margin-left: 15px;
	opacity: 0;
	visibility: hidden;
}

.shop-content-bottom .cart:hover {
	background: var(--green);
}

.home-shop-item:hover .shop-content-bottom .btn-one {
	opacity: 1;
	visibility: visible;
}

.related-product-active [class*="col-"],
.home-shop-active [class*="col-"] {
	padding-left: 15px;
	padding-right: 15px;
}

.related-product-active .slick-arrow,
.home-shop-active .slick-arrow {
	position: absolute;
	top: calc(50% - 43px);
	transform: translateY(-50%);
	left: -100px;
	background: transparent;
	border: none;
	padding: 0 0;
	font-size: 50px;
	color: var(--tg-heading-font-color);
	z-index: 2;
	display: block;
	width: auto;
	line-height: 1;
}

.related-product-active .slick-arrow.slick-next,
.home-shop-active .slick-arrow.slick-next {
	left: auto;
	right: -100px;
}

.related-product-active .slick-arrow::before,
.home-shop-active .slick-arrow::before {
	content: "";
	position: absolute;
	left: -25px;
	top: 50%;
	transform: translateY(-50%);
	width: 55px;
	height: 55px;
	background: var(--blue-light);
	opacity: .3;
	border-radius: 50%;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
	z-index: -1;
}

.related-product-active .slick-arrow.slick-next::before,
.home-shop-active .slick-arrow.slick-next::before {
	left: auto;
	right: -25px;
}

.related-product-active .slick-dots,
.home-shop-active .slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px 0 0;
	padding: 0 0;
}

.related-product-active .slick-dots li,
.home-shop-active .slick-dots li {
	list-style: none;
	line-height: 1;
	margin: 0 5px;
}

.related-product-active .slick-dots li button,
.home-shop-active .slick-dots li button {
	border: none;
	padding: 0;
	text-indent: -99999px;
	width: 10px;
	height: 10px;
	background: var(--green);
	opacity: .3;
	border-radius: 50%;
	display: block;
	line-height: 1;
}

.related-product-active .slick-dots li.slick-active button,
.home-shop-active .slick-dots li.slick-active button {
	box-shadow: 0px 3px 3px rgba(250, 164, 50, 0.22);
	border-radius: 5px;
	width: 20px;
	opacity: 1;
}

.related-product-active .slick-arrow:hover::before,
.home-shop-active .slick-arrow:hover::before {
	opacity: 1;
}

.inner-shop-details-area {
	padding: 120px 0 250px;
}

.inner-shop-details-content {
    padding-left: 20px;
}

.inner-shop-details-img {
	display: flex;
	align-items: center;
	justify-content: center;
}

.inner-shop-details-img img {
    max-width: 100%;
    transition: all .3s ease-in-out;
}

.inner-shop-details-img-wrap {
	margin-bottom: 15px;
	background: #f7f7f7;
}

.inner-shop-details-nav-wrap .nav-tabs .desc-link {
	border: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding: 0;
	margin-bottom: 0;
	background: #f7f7f7;
	display: flex;
	align-items: center;
	justify-content: center;
}

.inner-shop-details-nav-wrap .nav-tabs img {
    max-width: 100%;
}

.inner-shop-details-nav-wrap .nav-tabs {
    border: none;
    flex-wrap: nowrap;
    margin-left: -7px;
    margin-right: -7px;
}

.inner-shop-details-nav-wrap .nav-tabs .nav-item {
    padding-left: 7px;
    padding-right: 7px;
}

.inner-shop-details-review {
    display: flex;
    align-items: center;
}

.inner-shop-details-meta ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 0;;
}

.inner-shop-details-meta ul li {
    font-size: 16px;
    color: var(--green);
    padding-right: 15px;
    margin-right: 15px;
    position: relative;
    margin-top: 11px;
}

.inner-shop-details-meta ul li::before {
    content: "|";
    position: absolute;
    right: -2px;
    top: 50%;
    transform: translateY(-50%);
    color: #dadada;
}

.inner-shop-details-meta ul li:last-child::before {
    display: none;
}

.inner-shop-details-meta ul li a,
.inner-shop-details-meta ul li span {
    color: #696868;
    font-weight: 500;
}

.inner-shop-details-meta ul li.inner-shop-details-review .rating {
    font-size: 12px;
    letter-spacing: -1px;
    color: #ff9b26;
    margin-right: 8px;
}

.inner-shop-details-price {
    display: flex;
    align-items: center;
    margin: 18px 0 18px;
}

.inner-shop-details-price h2 {
    font-size: 35px;
}

.inner-shop-details-price .woocommerce-Price-amount,
.inner-shop-details-price del,
.inner-shop-details-price ins {
    font-size: 26px;
    font-weight: 700;
    line-height: .9;
    margin-bottom: 0;
    color: var(--tg-heading-font-color);
}

.inner-shop-details-price del,
.inner-shop-details-price del .woocommerce-Price-amount {
    opacity: .5;
    margin-right: 10px;
    color: var(--gold);
}

.inner-shop-details-price del .woocommerce-Price-amount {
    margin-right: 0;
}

.inner-shop-details-price .stock-status {
    font-size: 12px;
    line-height: 1;
    margin-bottom: 0;
    font-weight: 900;
    margin-left: 15px;
    text-transform: uppercase;
    color: var(--green);
}

.inner-shop-details-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: var(--silver-dark);
    text-align: justify;
}

.inner-shop-details-list {
    margin: 28px 0 32px;
}

.inner-shop-details-list ul li {
    padding-left: 22px;
    position: relative;
    font-size: 15px;
    color: var(--gold);
    margin-top: 5px;
    font-weight: 500;
}

.inner-shop-details-list ul li > span {
    color: #696868;
    margin-left: 5px;
    font-weight: 400;
}

.inner-shop-details-list ul li::before {
    content: "\f0a9";
    position: absolute;
    left: 0;
    top: 1.2px;
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    color: var(--blue-light);
    font-size: 14px;
}

.inner-shop-perched-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.cart-btn,
.inner-shop-perched-info > .cart-btn {
    display: inline-flex;
    align-items: center;
    border: 1px solid var(--blue-light);
    background: var(--blue-light);
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    color: var(--silver);
    padding: 12px 16px;
    min-width: 145px;
    justify-content: center;
    margin-bottom: 12px;
    margin-right: 12px;
    text-transform: uppercase;
}

.inner-shop-perched-info > .wishlist-btn {
    margin-bottom: 12px;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    background: var(--blue-light);
    color: var(--silver);
    border-radius: 5px;
}

.inner-shop-perched-info > .wishlist-btn:hover {
    background: var(--green);
}

.inner-shop-perched-info > .cart-btn:hover {
    background: var(--green);
    border-color: var(--green);
    color: var(--silver);
}

.inner-shop-details-bottom {
    margin-top: 23px;
    padding-top: 23px;
    border-top: 1px solid #ebebeb;
    font-size: 16px;
}

.inner-shop-details-bottom > span {
    display: block;
    margin-bottom: 10px;
    color: var(--gold);
    font-weight: 500;
    margin-right: 5px;
}

.inner-shop-details-bottom > span:last-child {
    margin-bottom: 0;
}

.inner-shop-details-bottom > span > span {
    font-weight: 500;
    margin-left: 5px;
}

.inner-shop-details-bottom span a {
    color: var(--gold);
    margin-left: 5px;
    border: 1px solid #ebebeb;
    font-weight: 400;
    padding: 3px 10px;
    font-size: 14px;
    margin-bottom: 8px;
    margin-right: 3px;
    border-radius: 5px;
    display: inline-block;
}

.inner-shop-details-bottom span a:hover {
    color: var(--silver);
    background: var(--blue-light);
    border-color: var(--blue-light);
}

.inner-shop-details-content .prd-detail-title {
	font-size: 44px;
	margin-bottom: 8px;
}

.product-desc-wrap {
    padding-top: 85px;
}

.product-desc-wrap .nav-tabs {
    border-bottom: 1px solid var(--silver);
    justify-content: flex-start;
    margin-bottom: 40px;
}

.product-desc-wrap .nav-tabs .desc-link {
    border: none;
    border-radius: 0;
    background: transparent;
    color: #696868;
    padding: 0 0 12px;
    position: relative;
    font-size: 16px;
    font-weight: 700;
}

.product-desc-wrap .nav-tabs .desc-link.active {
    color: var(--silver-dark);
}

.product-desc-wrap .nav-tabs .nav-item {
    margin: 0 55px 0 0;
}

.product-desc-wrap .nav-tabs .desc-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background: var(--blue-light);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    opacity: 0;
}

.product-desc-wrap .nav-tabs .nav-item .desc-link.active::after {
    opacity: 1;
}

.product-desc-content table {
    margin-bottom: 50px;
    margin-top: 60px;
}

.product-desc-content .prd-title {
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 17px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-top: 70px;
}

.product-desc-content p {
    font-size: 16px;
    margin-bottom: 25px;
    text-align: justify;
}

.product-desc-content.desc-table .table thead {
    border-top: none;
    
}

.product-desc-content.desc-table table{
    margin-top: 0 !important;
    border-collapse: unset;
}
.product-desc-content .table-sm th {
    padding: 13px 25px;
    border-style: 2px outset var(--black);
}

.product-desc-content .table-sm td {
    padding: 13px 25px;
    border: 0 solid var(--silver);
}

.product-desc-content .table-sm th {
    color: var(--green);
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
	width: 20%;
    text-align: center;
    vertical-align: middle;
}

.product-desc-content .table-sm td {
    color: var(--silver-dark);
    font-weight: 500;
    font-style: italic;
    text-align: center;
    font-size: 12px;
    vertical-align: middle;
}

.product-desc-content .table-sm td.th1, .product-desc-content .table-sm td.th2 {
    font-size: 15px;
    font-weight: 700;
    border: 2px solid var(--silver);
    color: var(--green);
}

.product-desc-content .table-sm td.td1 {
    padding: 13px 25px;
    border: 2px solid var(--silver);
    vertical-align: middle;
}

.product-desc-content .table-sm td.td2 {
    padding: 13px 25px;
    border: 2px solid var(--silver);
    vertical-align: middle;
}

.product-desc-content .table-sm td.td3 {
    padding: 0 30px;
}

.product-desc-list {
    margin-bottom: 25px;
    padding-left: 0;
}

.product-desc-list li {
    font-size: 16px;
    margin-bottom: 8px;
    position: relative;
    margin-left: 15px;
    list-style: disc !important;
}

.product-desc-list li::before {
    content: "";
    position: absolute;
    left: -15px;
    height: 5px;
    width: 5px;
    background: var(--tg-heading-font-color);
    top: 9px;
    border-radius: 50%;
}

.product-desc-list li:last-child {
    margin-bottom: 0;
}

.reviews-comment .review-info {
    display: flex;
    align-items: flex-start;
    margin-bottom: 35px;
}

.reviews-comment .review-content p {
    margin-bottom: 0;
}

.review-img {
    margin-right: 20px;
    width: 100px;
    flex: 0 0 100px;
}

.review-img img {
    border-radius: 50%;
    transition: all 0.3s ease-out 0s;
}

.review-rating li {
    color: #ff9b26;
    letter-spacing: -1px;
    font-size: 13px;
    margin-bottom: 7px;
}

.review-meta h6 {
    color: #222;
    font-size: 17px;
    margin-bottom: 8px;
}
.review-meta h6 span {
    color: var(--gold);
    font-size: 13px;
    font-weight: 400;
    margin-left: 5px;
}

.add-review .title {
    font-size: 26px;
    color: var(--tg-heading-font-color);
    margin-bottom: 25px;
	text-transform: uppercase;
}

.add-review {
    margin-top: 55px;
    padding-top: 35px;
    border-top: 1px solid #ebebeb;
}

.add-review form {
    padding: 55px 50px 60px;
    background: #f7f7f7;
}

.add-review p {
    font-size: 16px;
}

.add-review p span {
    color: var(--blue-light);
}

.add-review .from-grp {
    margin-bottom: 25px;
}

.add-review .from-grp label,
.form-rating label {
    display: block;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    color: #222;
    margin-bottom: 6px;
}

.add-review .from-grp label span {
    color: var(--blue-light);
}

.add-review .from-grp input,
.add-review .from-grp textarea {
    width: 100%;
    border: 1px solid #f4f4f4;
    padding: 15px 25px;
    display: block;
}

.add-review .checkbox-grp input {
    width: auto;
    margin-top: 0;
    margin-right: 10px;
}

.add-review .checkbox-grp label {
    margin-bottom: 0;
}

.add-review .checkbox-grp {
    display: flex;
}

.add-review .from-grp textarea {
    height: 170px;
}

.related-products-area {
	margin: -10px 0 0;
}

.home-shop-content .shop-item-cat {
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 9px;
	line-height: 1;
    justify-content: center;
}

.home-shop-content .shop-item-cat a {
	display: block;
	font-weight: 500;
	color: var(--black);
    text-align: center;
}