.branch-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    margin: 100px auto;
    padding: 20px;
    font-size: auto;
    font-weight: 500;
    letter-spacing: 1.2px;
    word-spacing: 5px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    text-transform: uppercase;
    backdrop-filter: blur(15px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
}

.branch-title h5 {
    color: var(--blue-light);
}

.branch-title h2 {
    color: var(--black);
}

.branch svg path {
    fill: grey;
    stroke: var(--black);
    stroke-width: .25;
}

.branch svg path.armenia,
.branch svg path.Azerbaijan,
.branch svg path#BY,
.branch svg path#KZ,
.branch svg path#MD,
.branch svg path.Russian,
.branch svg path#TJ,
.branch svg path#KG,
.branch svg path.Turkey,
.branch svg path#TM,
.branch svg path#UZ,
.branch svg path.New_Zealand,
.branch svg path.Australia,
.branch svg path.USA,
.branch svg path#BN,
.branch svg path#KH,
.branch svg path#TL,
.branch svg path.Indonesia,
.branch svg path.Malaysia,
.branch svg path#MM,
.branch svg path.Philippines,
.branch svg path#TH,
.branch svg path#VN,
.branch svg path#IQ,
.branch svg path#AE,
.branch svg path#ZW,
.branch svg path#SL,
.branch svg path#KE,
.branch svg path#ZA {
    fill: var(--green);
    transition: 0.6s;
    cursor: pointer;
}

.branch svg path.armenia:hover,
.branch svg path.armenia:active,
.branch svg path.Azerbaijan:hover,
.branch svg path.Azerbaijan:active,
.branch svg path#BY:hover,
.branch svg path#BY:active,
.branch svg path#KZ:hover,
.branch svg path#KZ:active,
.branch svg path#MD:hover,
.branch svg path#MD:active,
.branch svg path.Russian:hover,
.branch svg path.Russian:active,
.branch svg path#TJ:hover,
.branch svg path#TJ:active,
.branch svg path#KG:hover,
.branch svg path#KG:active,
.branch svg path.Turkey:hover,
.branch svg path.Turkey:active,
.branch svg path#TM:hover,
.branch svg path#TM:active,
.branch svg path#UZ:hover,
.branch svg path#UZ:active,
.branch svg path.New_Zealand:hover,
.branch svg path.New_Zealand:active,
.branch svg path.Australia:hover,
.branch svg path.Australia:active,
.branch svg path.USA:hover,
.branch svg path.USA:active,
.branch svg path#BN:hover,
.branch svg path#BN:active,
.branch svg path#KH:hover,
.branch svg path#KH:active,
.branch svg path#TL:hover,
.branch svg path#TL:active,
.branch svg path.Indonesia:hover,
.branch svg path.Indonesia:active,
.branch svg path.Malaysia:hover,
.branch svg path.Malaysia:active,
.branch svg path#MM:hover,
.branch svg path#MM:active,
.branch svg path.Philippines:hover,
.branch svg path.Philippines:active,
.branch svg path#TH:hover,
.branch svg path#TH:active,
.branch svg path#VN:hover,
.branch svg path#VN:active,
.branch svg path#IQ:hover,
.branch svg path#IQ:active,
.branch svg path#AE:hover,
.branch svg path#AE:active,
.branch svg path#ZW:hover,
.branch svg path#ZW:active,
.branch svg path#SL:hover,
.branch svg path#SL:active,
.branch svg path#KE:hover,
.branch svg path#KE:active,
.branch svg path#ZA:hover,
.branch svg path#ZA:active {
    fill: var(--green-dark);
}


.tooltip {
    position: absolute;
    background-color: var(--blue-dark);
    color: var(--white);
    padding: 10px;
    border-radius: 15px;
    display: none;
    pointer-events: none;
    z-index: 1000;
}

svg path:focus + .tooltip {
    display: block;
}


/*.world-map {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 1rem;
    position: relative;
}

.world-map img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.pin {
    position: absolute;
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    background: var(--gold);
}

.pin::before {
    content: "";
    background: var(--gold);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: pulse 1.3s ease-in-out infinite;    
}

.pin span {
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    left: 1.5em;
    top: 50%;
    transform: translateY(-50%);
    background: var(--green);
    border-radius: 3em;
    padding: 0.3em 0.6em;
    font-size: 0.7em;
    color: var(--white);
}

.sea {
    top: 62.5%;
    left: 77%;
}

.africa {
    top: 65%;
    left: 55%;
}

/*.europe {
    top: 40%;
    left: 48%;
}

.middle-east {
    top: 52%;
    left: 60%;
}

.turkey {
    top: 44%;
    left: 56%;
}

.belarus {
    top: 34%;
    left: 53.5%;
}

.moldova {
    top: 39%;
    left: 55%;
}

.armenia-azerbaijan {
    top: 41.5%;
    left: 56%;
}

.turkmenistan-uzbekistan {
    top: 44%;
    left: 63%;
}

.kazakhstan {
    top: 37%;
    left: 65%;
}

.taijikistan-kyrgystan {
    top: 47%;
    left: 66%;
}

.russia {
    top: 28%;
    left: 68%;
}


.pins {
    position: absolute;
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    background: var(--gold);
}

.pins::before {
    content: "";
    background: var(--gold);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: pulse 1.3s ease-in-out infinite;    
}

.pins span {
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    left: 1.5em;
    top: 50%;
    transform: translateY(-50%);
    background: red;
    border-radius: 3em;
    padding: 0.3em 0.6em;
    font-size: 0.7em;
    color: var(--white);
}

.new-zealand {
    top: 91%;
    left: 96%;
}

.australia {
    top: 78%;
    left: 87%;
}

.usa {
    top: 48%;
    left: 20%;
}

@keyframes pulse {
    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(-50%) scale(2.5);
    }
} */