.branch-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    margin: 100px auto;
    padding: 20px;
    font-size: auto;
    font-weight: 500;
    letter-spacing: 1.2px;
    word-spacing: 5px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    text-transform: uppercase;
    backdrop-filter: blur(15px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
}

.branch-title h5 {
    color: var(--blue-light);
}

.branch-title h2 {
    color: var(--black);
}

#world-map path {
    fill: grey;
    stroke: var(--black);
    stroke-width: .25;
}

#world-map path.armenia,
#world-map path.Azerbaijan,
#world-map path#BY,
/*Belarus*/
#world-map path#KZ,
/*Kazakhstan*/
#world-map path#MD,
/*Moldova*/
#world-map path.Russian,
#world-map path#TJ,
/*Tajikistan*/
#world-map path#KG,
/*Kyrgyzstan*/
#world-map path.Turkey,
#world-map path#TM,
/*Turkmenistan*/
#world-map path#UZ,
/*Uzbekistan*/
#world-map path.New_Zealand,
#world-map path.Australia,
#world-map path.USA,
#world-map path#BN,
/*Brunei Darussalam*/
#world-map path#KH,
/*Cambodia*/
#world-map path#TL,
/*Timor-Leste*/
#world-map path.Indonesia,
#world-map path.Malaysia,
#world-map path#MM,
/*Myanmar*/
#world-map path.Philippines,
#world-map path#TH,
/*Thailand*/
#world-map path#VN,
/*Vietnam*/
#world-map path#IQ,
/*Iraq*/
#world-map path#AE,
/*United Arab Emirates*/
#world-map path#ZW,
/*Zimbabwe*/
#world-map path#SL,
/*Sierra Leone*/
#world-map path#KE,
/*Kenya*/
#world-map path#ZA

/*South Africa*/
    {
    fill: var(--green);
    transition: 0.6s;
    cursor: pointer;
}

#world-map path.armenia:hover,
#world-map path.armenia:active,
#world-map path.Azerbaijan:hover,
#world-map path.Azerbaijan:active,
#world-map path#BY:hover,
#world-map path#BY:active,
#world-map path#KZ:hover,
#world-map path#KZ:active,
#world-map path#MD:hover,
#world-map path#MD:active,
#world-map path.Russian:hover,
#world-map path.Russian:active,
#world-map path#TJ:hover,
#world-map path#TJ:active,
#world-map path#KG:hover,
#world-map path#KG:active,
#world-map path.Turkey:hover,
#world-map path.Turkey:active,
#world-map path#TM:hover,
#world-map path#TM:active,
#world-map path#UZ:hover,
#world-map path#UZ:active,
#world-map path.New_Zealand:hover,
#world-map path.New_Zealand:active,
#world-map path.Australia:hover,
#world-map path.Australia:active,
#world-map path.USA:hover,
#world-map path.USA:active,
#world-map path#BN:hover,
#world-map path#BN:active,
#world-map path#KH:hover,
#world-map path#KH:active,
#world-map path#TL:hover,
#world-map path#TL:active,
#world-map path.Indonesia:hover,
#world-map path.Indonesia:active,
#world-map path.Malaysia:hover,
#world-map path.Malaysia:active,
#world-map path#MM:hover,
#world-map path#MM:active,
#world-map path.Philippines:hover,
#world-map path.Philippines:active,
#world-map path#TH:hover,
#world-map path#TH:active,
#world-map path#VN:hover,
#world-map path#VN:active,
#world-map path#IQ:hover,
#world-map path#IQ:active,
#world-map path#AE:hover,
#world-map path#AE:active,
#world-map path#ZW:hover,
#world-map path#ZW:active,
#world-map path#SL:hover,
#world-map path#SL:active,
#world-map path#KE:hover,
#world-map path#KE:active,
#world-map path#ZA:hover,
#world-map path#ZA:active {
    fill: var(--green-dark);
}


.tooltip {
    position: absolute;
    background-color: var(--blue-dark);
    color: var(--white);
    padding: 10px;
    border-radius: 15px;
    display: none;
    pointer-events: none;
    z-index: 1000;
}

svg path:focus+.tooltip {
    display: block;
}



.map .right-ship {
    position: absolute;
    top: 27%;
    left: 53.5%;
    width: 40px;
    height: 40px;
    z-index: 1001;
    cursor: pointer;
}

.left-ship {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1001;
    cursor: pointer;
}