.branch-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    margin: 100px auto;
    padding: 20px;
    font-size: auto;
    font-weight: 500;
    letter-spacing: 1.2px;
    word-spacing: 5px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    text-transform: uppercase;
    backdrop-filter: blur(15px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
}

.branch-title h5 {
    color: var(--blue-light);
}

.branch-title h2 {
    color: var(--black);
}

.branch svg path {
    fill: var(--blue-light);
    stroke: var(--black);
    stroke-width: .25;
}

.branch svg path.armenia {
    fill: var(--green);
    transition: 0.6s;
    cursor: pointer;
}

.branch svg path.Azerbaijan {
    fill: var(--green);
    transition: 0.6s;
    cursor: pointer;
}

.branch svg path#BY {
    fill: var(--green);
    transition: 0.6s;
    cursor: pointer;
}

.branch svg path#KZ {
    fill: var(--green);
    transition: 0.6s;
    cursor: pointer;
}

.branch svg path#MD {
    fill: var(--green);
    transition: 0.6s;
    cursor: pointer;
}

.branch svg path.Russian {
    fill: var(--green);
    transition: 0.6s;
    cursor: pointer;
}

.branch svg path#TJ {
    fill: var(--green);
    transition: 0.6s;
    cursor: pointer;
}

.branch svg path#KG {
    fill: var(--green);
    transition: 0.6s;
    cursor: pointer;
}

.branch svg path.Turkey {
    fill: var(--green);
    transition: 0.6s;
    cursor: pointer;
}

.branch svg path#TM {
    fill: var(--green);
    transition: 0.6s;
    cursor: pointer;
}

.branch svg path#UZ {
    fill: var(--green);
    transition: 0.6s;
    cursor: pointer;
}

.branch svg path.New_Zealand {
    fill: red;
    transition: 0.6s;
    cursor: pointer;
}

.branch svg path.Australia {
    fill: red;
    transition: 0.6s;
    cursor: pointer;
}

.branch svg path.USA {
    fill: red;
    transition: 0.6s;
    cursor: pointer;
}

.branch svg path#BN {
    fill: var(--green);
    transition: 0.6s;
    cursor: pointer;
}

.branch svg path#KH {
    fill: var(--green);
    transition: 0.6s;
    cursor: pointer;
}

.branch svg path#TL {
    fill: var(--green);
    transition: 0.6s;
    cursor: pointer;
}

.branch svg path.Indonesia {
    fill: var(--green);
    transition: 0.6s;
    cursor: pointer;
}

.branch svg path.Malaysia {
    fill: var(--green);
    transition: 0.6s;
    cursor: pointer;
}

.branch svg path#MM {
    fill: var(--green);
    transition: 0.6s;
    cursor: pointer;
}

.branch svg path.Philippines {
    fill: var(--green);
    transition: 0.6s;
    cursor: pointer;
}

.branch svg path#TH {
    fill: var(--green);
    transition: 0.6s;
    cursor: pointer;
}

.branch svg path#VN {
    fill: var(--green);
    transition: 0.6s;
    cursor: pointer;
}

.branch svg path#IQ {
    fill: var(--green);
    transition: 0.6s;
    cursor: pointer;
}

.branch svg path#AE {
    fill: var(--green);
    transition: 0.6s;
    cursor: pointer;
}

.branch svg path#ZW {
    fill: var(--green);
    transition: 0.6s;
    cursor: pointer;
}

.branch svg path#SL {
    fill: var(--green);
    transition: 0.6s;
    cursor: pointer;
}

.branch svg path#KE {
    fill: var(--green);
    transition: 0.6s;
    cursor: pointer;
}

.branch svg path#ZA {
    fill: var(--green);
    transition: 0.6s;
    cursor: pointer;
}

.tooltip {
    position: absolute;
    background-color: var(--blue-dark);
    color: var(--white);
    padding: 10px;
    border-radius: 15px;
    display: none;
    pointer-events: none;
    z-index: 1000;
}

svg path:focus + .tooltip {
    display: block;
}


/*.world-map {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 1rem;
    position: relative;
}

.world-map img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.pin {
    position: absolute;
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    background: var(--gold);
}

.pin::before {
    content: "";
    background: var(--gold);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: pulse 1.3s ease-in-out infinite;    
}

.pin span {
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    left: 1.5em;
    top: 50%;
    transform: translateY(-50%);
    background: var(--green);
    border-radius: 3em;
    padding: 0.3em 0.6em;
    font-size: 0.7em;
    color: var(--white);
}

.sea {
    top: 62.5%;
    left: 77%;
}

.africa {
    top: 65%;
    left: 55%;
}

/*.europe {
    top: 40%;
    left: 48%;
}

.middle-east {
    top: 52%;
    left: 60%;
}

.turkey {
    top: 44%;
    left: 56%;
}

.belarus {
    top: 34%;
    left: 53.5%;
}

.moldova {
    top: 39%;
    left: 55%;
}

.armenia-azerbaijan {
    top: 41.5%;
    left: 56%;
}

.turkmenistan-uzbekistan {
    top: 44%;
    left: 63%;
}

.kazakhstan {
    top: 37%;
    left: 65%;
}

.taijikistan-kyrgystan {
    top: 47%;
    left: 66%;
}

.russia {
    top: 28%;
    left: 68%;
}


.pins {
    position: absolute;
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    background: var(--gold);
}

.pins::before {
    content: "";
    background: var(--gold);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: pulse 1.3s ease-in-out infinite;    
}

.pins span {
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    left: 1.5em;
    top: 50%;
    transform: translateY(-50%);
    background: red;
    border-radius: 3em;
    padding: 0.3em 0.6em;
    font-size: 0.7em;
    color: var(--white);
}

.new-zealand {
    top: 91%;
    left: 96%;
}

.australia {
    top: 78%;
    left: 87%;
}

.usa {
    top: 48%;
    left: 20%;
}

@keyframes pulse {
    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(-50%) scale(2.5);
    }
} */