* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: var(--white) !important;
}

html {
    scroll-behavior: smooth !important;
}

body {
    overflow-x: hidden !important;
}

button {
    cursor: pointer !important;
    border: none !important;
    outline: none !important;
    font-size: 1rem;
}

:root {
    --black:#000000;
    --blue-light: #066AE5;
    --gold: gold;
    --green: #008000;
    --green-light: #80C080;
    --white: #fff;
    --white-dark: #ededed;
    --silver: #dbdada;
    --silver-dark: #222222;
    --blue-dark: #001B36;
    --green-dark: rgb(0, 66, 0);
    --z-modal: 1000;
    --z-index: 999;

}

a {
    text-decoration: none !important; 
}

li {
    list-style: none ; /*To remove the bullet points */
}