.info-blocks {
    margin: -100px 500px 0 500px;
    display: flex;
    align-items: center;
    justify-content:center;
    padding-bottom: 100px;
    z-index: 2;
    /*background: var(--blue-light); */
}

.info-block1, .info-block2, .info-block3 {
    display: flex;
    flex-direction: column;
    flex: 1; 
    margin: 0 25px;
    padding: 20px 10px;
    text-align: center;
    background-color: var(--blue-light);
    /*border-right-style: solid;*/
    border-radius: 30px;
    
}

.info-block1 .emoji {
    font-size: 2rem;
    display: block; 
}

.info-block2 .emoji {
    font-size: 2rem;
    display: block; 
}

.info-block3 .emoji {
    font-size: 2rem; 
    display: block;
}

.info-block1 h3, .info-block2 h3, .info-block3 h3 {
    font-size: 1.25rem; 
    margin: 10px 0; 
    color: var(--white);
}

.info-block1 p, .info-block2 p, .info-block3 p {
    font-size: 1rem;
    color: var(--white); 
}

.info-blocks, .info-blocks * {
    position: relative;
}

.info-block1:hover, .info-block2:hover, .info-block3:hover {
    background-color: var(--gold);
    scale: 1.05;
}

.info-block1:hover h3, .info-block2:hover h3, .info-block3:hover h3, 
.info-block1:hover p, .info-block2:hover p, .info-block3:hover p {
    color: var(--black);
}