.info-blocks {
    margin: -100px 500px 0 500px;
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 20px;
    /*background: var(--blue-light); */
    
    
}

.info-block1 {
    display: flex;
    flex-direction: column;
    flex: 1; 
    margin: 0 25px;
    padding: 20px 10px;
    text-align: center;
    background-color: var(--blue-light);
    /*border-right-style: solid;*/
    border-radius: 30px;
}

.info-block2 {
    display: flex;
    flex-direction: column;
    flex: 1; 
    margin: 0 25px; 
    padding: 20px 10px;
    text-align: center;
    background-color: var(--blue-light);
    /*border-right-style: solid;*/
    border-radius: 30px;
}

.info-block3 {
    display: flex;
    flex-direction: column;
    flex: 1; 
    margin: 0 25px; 
    padding: 20px 10px;
    text-align: center; 
    background-color: var(--blue-light);
    /*border-right-style: solid;*/
    border-radius: 30px;
}

.info-block1 .emoji {
    font-size: 2rem;
    display: block; 
}

.info-block2 .emoji {
    font-size: 2rem;
    display: block; 
}

.info-block3 .emoji {
    font-size: 2rem; 
    display: block;
}

.info-block1 h3 {
    font-size: 1.25rem; 
    margin: 10px 0; 
    color: var(--white);
}

.info-block2 h3 {
    font-size: 1.25rem; 
    margin: 10px 0; 
    color: var(--white);
}

.info-block3 h3 {
    font-size: 1.25rem; 
    margin: 10px 0; 
    color: var(--white); 
}

.info-block1 p {
    font-size: 1rem;
    color: var(--white); 
}

.info-block2 p {
    font-size: 1rem;
    color: var(--white);
}

.info-block3 p {
    font-size: 1rem;
    color: var(--white);
}

.info-blocks, .info-blocks * {
    position: relative;
}