.hero {
    display: flex;
    align-items: center;
    
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero-phrase {
    background: var(--blue-light);
    color: var(--white);
    padding: 15px 25px;
    border-radius: 25px;
    margin: 50px 50px;
    font-weight: bold;
    font-size: 1.5vw; /*clamp(0.34rem, 0.68vw, 16px)*/
    word-spacing: 5px;
}

.hero-text h1 {
    font-size: clamp(1.5rem, 3vw, 70px);
    max-width: 100%;
    margin: 0 50px 20px;
}

.hero-subtitle {
    margin: 0 50px 50px;
    font-size: clamp(0.34rem, 0.68vw, 32px) /*1.25vw*/;
}

.hero-content {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(../../images/hero-section-img.png), linear-gradient(to bottom, var(--silver), var(--white));
    background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
